<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @register.user.id %>
</p>

<p>
  <strong>Course offering:</strong>
  <%= @register.course_offering.id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @register.grade %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
